/* ===== Header ===== */
.header {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

/* Inner header */
.header .inner-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ===== End Header ===== */
